// delete the following line if no text is used
// edit the line if you wanna use other fonts
// variables start
$animation-time: 5s;
//variables end

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
// global style start
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
//global style end
// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #272c34;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //

  .circle {
    width: 180px;
    height: 180px;
    clip-path: circle(50% at 50% 50%);
    position: relative;
    animation: circle-dim $animation-time cubic-bezier(0.79, 0.14, 0.15, 0.86) infinite;
    @keyframes circle-dim {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    .sky {
      position: relative;
      height: 124px;
      background-color: #7ddffc;
      .sun {
        position: absolute;
        width: 34px;
        height: 34px;
        background-color: #ffef00;
        border-radius: 50%;
        top: 90px;
        left: -10px;

        transform-origin: 300% center;
        animation: rotate-sun $animation-time ease-in-out infinite;

        @keyframes rotate-sun {
          10% {
            transform: rotate(20deg);
          }
          50% {
            transform: rotate(90deg);
          }
          90% {
            transform: rotate(180deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
      .side {
        position: absolute;
        width: 58px;
        height: 57px;
        top: 67px;
      }
      .side-left {
        width: 76px;
        left: 32px;
        clip-path: polygon(76.95% 1%, 0px 100%, 97.74% 101.75%);
        background-color: #f4f4f4;
        animation: left-shade $animation-time linear infinite;
        @keyframes left-shade {
          70% {
            background-color: #a7a4a4;
          }
        }
      }
      .side-right {
        right: 32px;
        background-color: #a7a4a4;
        clip-path: polygon(0 0, 26% 100%, 100% 100%);
        animation: right-shade $animation-time linear infinite;
        @keyframes right-shade {
          70% {
            background-color: #f4f4f4;
          }
        }
      }
    }

    .ground {
      height: 56px;
      background-color: #f0de75;
      position: relative;
      .shadow {
        clip-path: polygon(20% 0, 50% 36%, 80% 0);
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 56px;
        position: absolute;
        left: 0;
        animation: rotate-shadow $animation-time ease-in-out infinite forwards;

        @keyframes rotate-shadow {
          0% {
            clip-path: polygon(20% 0px, 94.45% 5%, 80% 0px);
          }
          20% {
            clip-path: polygon(20% 0px, 104% 41%, 80% 0px);
          }
          50% {
            clip-path: polygon(20% 0, 50% 36%, 80% 0);
          }
          80% {
            clip-path: polygon(20% 0px, -4% 41%, 80% 0px);
          }
          100% {
            clip-path: polygon(20% 0px, 6.55% 5%, 80% 0px);
          }
        }
      }
    }
  }
}
